.button-row {
	display: flex;
	justify-content: end;
	gap: 1rem;
	margin-top: 1rem;
}


button, .button, .button:visited {
	display: inline-block;
	border-radius: 8px;
	padding: 0.75rem 2rem;
	font-size: 1rem;
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: background 0.2s, border-color 0.2s;
	border-width: 1px;
	border-style: solid;
	background-color: rgb(233,233,237);
	position: relative;
}
button:hover, .button:hover {
	background-color: rgb(208,208,215);
}
button.loading, .button.loading {
	cursor: progress;
	color: transparent;
}
button.loading::after, .button.loading::after {
  content: '';
  display: block;
	box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.2em solid transparent;
  border-radius: 50%;
  border-right-color: white;
  animation: loader-animation 1.5s linear infinite;
}
button.loading::before, .button.loading::before {
	content: '';
  display: block;
	box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.2em solid #00000040;
  border-radius: 50%;
}

@keyframes loader-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.action-btn {
	background: #43a047;
	color: #fff;
	border: none;
}

.action-btn:hover {
	background: #388e3c;
	border-color: #388e3c;
}

.danger-btn {
	background: #e08080;
	color: #fff;
	border: none;
}

.danger-btn:hover {
	background: #c71c1c;
	border-color: #b71c1c;
}
