
input, textarea {
	min-width: 120px;
	border-radius: 8px;
	border: 1px solid #ccc;
	padding: 6px 10px;
	font-size: 1rem;
	margin: 2px;
	box-sizing: border-box;
	width: 100%;
	outline: none;
	transition: border-color 0.2s;
}
input[type=number] {
	-moz-appearance:textfield;
}

input:focus, textarea:focus {
	box-shadow: 0 0 0 2px #ccc;
}
