{#include layout.html}
	{#scripts}
	{/scripts}
	{#body}
		<h1>Notifications</h1>
		<div style="text-align: center; margin-bottom: 1rem;">How to alert yourself, if something doesn't work</div>

		<table class="table selectable">
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>Last Used</th>
			</tr>
		{#if channels.size() == 0}
			<tr class="disabled">
				<td colspan="100">No notification channels configured yet.</td>
			</tr>
		{/if}
		{#for channel in channels}
			<tr onclick="location.href='/notification/{channel.id}';">
				<td>{channel.type}</td>
				<td>{channel.name}</td>
				<td>{channel.lastUsed.formatDateTime()}</td>
			</tr>
		{/for}
		</table>

		<h2 style="margin-top: 1rem;">Add Channel</h2>
		<a href="/notification/new" class="button">Add Telegram</a>
	{/body}
{/include}
