{#include layout.html}
	{#scripts}
		<script src="/app.js"></script>
	{/scripts}
	{#body}
		<h1>Sentia</h1>
		<h3>Your simple monitoring platform</h3>
		<a href="/add-website" class="add-website-btn" title="Website hinzufügen">
			<span>+</span>
		</a>
		<div class="websites-list">
			{#for website in websites}
				<div class="website-box {website.status.name.toLowerCase()}">
					<span class="website-name-large">{website.name}</span>
					<span class="website-uptime">99.9% uptime</span>
				</div>
			{/for}
		</div>

		<div class="update-info">
			Letztes Update: {lastUpdate} &nbsp;|&nbsp; Nächstes Update: {nextUpdate}
		</div>
	{/body}
{/include}
