<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Sentio</title>
	<link rel="stylesheet" href="/app.css">
	<link rel="icon" type="image/svg+xml" href="/favicon.svg">
	<script src="/js/popup.js"></script>
	<script src="/js/config.js"></script>
	<script src="/js/code.js"></script>
	<script src="/js/navigation.js"></script>
	<script src="/app.js"></script>
	{#insert scripts}{/insert}
</head>
<body>
	<div class="navigation">
		{#include navigation.html /}
	</div>
	<div class="content-box">
		{#insert body}{/insert}
	</div>

	<div id="templates" style="display: none">
		<div id="popup-template-confirm">
			<h2 id="popup-title" class="title">(popup-title)</h2>
			<span id="popup-content">(popup-content)</span>
			<div class="buttons">
				<button id="popup-btn" class="action-btn">(popup-btn)</button>
				<button onclick="popupHide()" class="action-btn">Cancel</button>
			</div>
		</div>
	</div>
</body>
</html>
