{#include layout.html}
	{#scripts}
	{/scripts}
	{#body}
		<div class="action-bar">
			<h1>{monitored.name}</h1>
			<div class="link">
				<a href="/monitored/edit/{monitored.id}" title="Edit">
					<img src="/img/edit.svg">
				</a>
			</div>
		</div>
		<div style="text-align: center; margin-bottom: 1rem;">
			{monitor.getName()}
		</div>

		<h2>History</h2>
		<img src="/api/data/{monitored.id}" alt="">

		<h2>Errors</h2>
		<table class="table">
			<tr>
				<th>Date</th>
				<th>Error Message</th>
			</tr>
			{#if errors.size() == 0}
				<tr>
					<td colspan="2" style="text-align: center;">
						None in this timespan
					</td>
				</tr>
			{/if}
			{#for error in errors}
				<tr>
					<td>{error.dateTime.formatDateTime}</td>
					<td>{error.message}</td>
				</tr>
			{/for}
		</table>

	{/body}
{/include}
