{#include layout.html}
	{#scripts}
		<link rel="stylesheet" href="/overview.css">
	{/scripts}
	{#body}
		<h1>Sentio</h1>
		<div style="text-align: center; margin-bottom: 1rem;">Your simple monitoring platform</div>

		<div class="websites-list">
			{#for website in websites}
				<a href="/website/{website.id}" class="website-box-link">
					<div class="website-box" style="background-color: {colors.get(website.id)}">
						<span class="website-name-large">{website.name}</span>
						<span class="website-uptime">{uptime.get(website.id)}% uptime</span>
					</div>
				</a>
			{/for}
		</div>

		<a href="/website/new" class="button" style="margin-top: 1rem;">
			Website hinzufügen
		</a>
	{/body}
{/include}
