{#include layout.html}
	{#scripts}
		<script src="/monitored-edit.js"></script>
	{/scripts}
	{#body}
		<div class="action-bar">
			<h1>{monitored.name} ({monitor.getName()})</h1>
			<div class="link">
				{#if (monitored.id)}
				<a onclick="removeMonitored({monitored.id},'{monitored.name}')" style="cursor: pointer;">
					<img src="/img/delete.svg">
				</a>
				{/if}
			</div>
		</div>

		<h2 style="margin-top: 1rem;">Configuration</h2>
		<form id="configForm">
			<table>
				<tr>
					<td>
						<label for="checkEveryMin">Check every X minutes:</label>
					</td>
					<td>
						<input type="number" name="checkEveryMin" value="{config.checkEveryMin}"
								min="1" max="1440" id="checkEveryMin">
					</td>
				</tr>
				<tr>
					<td>
						<label for="alertIfFailingForMin">Alert if Failing for X minutes:</label>
					</td>
					<td>
						<input type="number" name="alertIfFailingForMin" value="{config.alertIfFailingForMin}"
								min="1" max="1440" id="alertIfFailingForMin">
					</td>
				</tr>
			</table>

			<div class="button-row">
				<button type="button" class="action-btn"
						onclick="saveConfig( {monitored.getKey() }')">Save
				</button>
			</div>
		</form>
	{/body}
{/include}
