{#include layout.html}
	{#scripts}
		<script src="/monitored-edit.js"></script>
	{/scripts}
	{#body}
		<div class="action-bar">
			<h1>{monitored.name} ({monitor.getName()})</h1>
			<div class="link">
				{#if (monitored.id)}
					<a onclick="removeMonitored({monitored.id},'{monitored.name}')" style="cursor: pointer;">
						<img src="/img/delete.svg">
					</a>
				{/if}
			</div>
		</div>

		<form method="POST" action="/api/monitored/{monitored.id}">
			<h2 style="margin-top: 1rem;">Configuration</h2>
			<table>
				{#for field in monitor.getFields()}
					<tr>
						<td>{field.text}:</td>
						<td>
							<input type="{field.type}" name="{field.name}" value="{monitored.checkEveryMin}"/>
						</td>
					</tr>
				{/for}
			</table>

			<h2 style="margin-top: 1rem;">Alert</h2>
			<table>
				<tr>
					<td>
						<label for="checkEveryMin">Check every X minutes:</label>
					</td>
					<td>
						<input type="number" name="checkEveryMin" value="{monitored.checkEveryMin}"
								min="1" max="1440" id="checkEveryMin">
					</td>
				</tr>
				<tr>
					<td>
						<label for="alertIfFailingForMin">Alert if Failing for X minutes:</label>
					</td>
					<td>
						<input type="number" name="alertIfFailingForMin"
								value="{monitored.alertIfFailingForMin}"
								min="1" max="1440" id="alertIfFailingForMin">
					</td>
				</tr>
			</table>

			<div class="button-row">
				<button type="button" class="action-btn"
						onclick="saveConfig()">Save
				</button>
			</div>
		</form>
	{/body}
{/include}
