{#include layout.html}
	{#scripts}
		<link rel="stylesheet" href="/monitored-list.css">
	{/scripts}
	{#body}
		<h1>Sentio</h1>
		<div style="text-align: center; margin-bottom: 1rem;">Your simple monitoring platform</div>

		<div class="monitored-list">
			{#for monitor in monitored}
				<a href="/monitored/{monitor.id}">
					<div class="monitored-box" style="background-color: {colors.get(monitor.id)}">
						<span class="monitored-name-large">{monitor.name}</span>
						<span class="monitored-uptime">{uptime.get(monitor.id)}% ok</span>
					</div>
				</a>
			{/for}
		</div>

		<h2 style="margin-top: 1rem;">Add monitor</h2>
		{#for monitor in monitors}
			<form action="/monitored/new/{monitor.getKey()}" method="get">
				<button type="submit">{monitor.name}</button>
			</form>
		{/for}
	{/body}
{/include}
