{#include layout.html}
	{#scripts}
		<link rel="stylesheet" href="/overview.css">
		<script src="/app.js"></script>
	{/scripts}
	{#body}
		<h1>Sentio</h1>
		<h3>Your simple monitoring platform</h3>
		<a href="/website/new" class="add-website-btn" title="Website hinzufügen">
			<span>+</span>
		</a>
		<div class="websites-list">
			{#for website in websites}
				<a href="/website/{website.id}" class="website-box-link">
					<div class="website-box" style="background-color: {colors.get(website.id)}">
						<span class="website-name-large">{website.name}</span>
						<span class="website-uptime">{uptime.get(website.id)}% uptime</span>
					</div>
				</a>
			{/for}
		</div>
	{/body}
{/include}
