{#include layout.html}
	{#scripts}
		<script src="/app.js"></script>
		<link rel="stylesheet" href="/website-details.css">
	{/scripts}
	{#body}
		<h1>Site {website.name}</h1>
		<h3>{website.url}</h3>
		<p>Website availability and history data.</p>
		{#for config in configs}
			<h3>
				{monitorByKey.get(config.monitor).name}
				<a href="/website/{website.id}/{config.monitor}" title="Edit config" style="margin-left:8px; vertical-align:middle;">
					<img src="/edit.svg" alt="Edit config">
				</a>
			</h3>
			<img src="/api/monitor-data/{website.id}/{config.monitor}?days={showDays}" alt="">
		{/for}
		{#if monitors.size() > 0}
			<h3>Add monitor</h3>
			{#for monitor in monitors}
				<form action="/website/{website.id}/{monitor.getKey()}" method="get">
					<button type="submit">{monitor.name}</button>
				</form>
			{/for}
		{/if}
	{/body}
{/include}
