{#include layout.html}
	{#scripts}
		<script src="/website-monitor.js"></script>
	{/scripts}
	{#body}
		<div class="action-bar">
			<h1>{website.name} {monitor.getName()}</h1>
			<div class="link">
				<a onclick="removeMonitor({website.id},'{monitor.key}','{monitor.getName()}')" style="cursor: pointer;">
					<img src="/delete.svg">
				</a>
			</div>
		</div>

		<div style="text-align: center; margin-bottom: 1rem;">{website.url}</div>
		<h2>History</h2>
		<img src="/api/monitor-data/{website.id}/{monitor.key}" alt="">
		{#if errors.size() > 0}
			<table class="table">
				<tr>
					<th>Date</th>
					<th>Error Message</th>
				</tr>
				{#for error in errors}
					<tr>
						<td>{error.dateTime.formatDateTime}</td>
						<td>{error.message}</td>
					</tr>
				{/for}
			</table>
		{/if}
		<h2 style="margin-top: 1rem;">Configuration</h2>
		<form id="configForm">
			<table>
				<tr>
					<td>
						<label for="checkEveryMin">Check every X minutes:</label>
					</td>
					<td>
						<input type="number" name="checkEveryMin" value="{config.checkEveryMin}"
								min="1" max="1440" id="checkEveryMin">
					</td>
				</tr>
				<tr>
					<td>
						<label for="alertIfFailingForMin">Alert if Failing for X minutes:</label>
					</td>
					<td>
						<input type="number" name="alertIfFailingForMin" value="{config.alertIfFailingForMin}"
								min="1" max="1440" id="alertIfFailingForMin">
					</td>
				</tr>
			</table>

			<div class="button-row">
				<button type="button" class="action-btn"
						onclick="saveConfig( {website.id},'{monitor.getKey() }')">Save
				</button>
			</div>
		</form>
	{/body}
{/include}
